@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,800&family=Poppins:ital,wght@0,200;0,500;1,100;1,400;1,600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --woocommerce: #a46497;
  --wc-green: #7ad03a;
  --wc-red: #a00;
  --wc-orange: #ffba00;
  --wc-blue: #2ea2cc;
  --wc-primary: #a46497;
  --wc-primary-text: white;
  --wc-secondary: #ebe9eb;
  --wc-secondary-text: #515151;
  --wc-highlight: #77a464;
  --wc-highligh-text: white;
  --wc-content-bg: #fff;
  --wc-subtext: #767676;
  --blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
    overflow-x:hidden;
}
html.stop-scroll{
    overflow-y: hidden;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}



body main.show{
    filter: blur(5px);
}
/* ---//////---- Header Styling Start ---//////---- */

.header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #eee;
    opacity: 1;
    z-index: 1000;
    transition: all 0.6s ease-in;
    
}
.header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:#fff;
}

.header .navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 1.5rem 4rem; 
}

.header .navigation-bar .navbar-logo-container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .navigation-bar .navbar-logo-container .logo{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border: 5px solid var(--light);
    box-shadow: 0px 0px 3px grey;
}

.header .navigation-bar .navbar-logo-container .logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header .navigation-bar .navbar-logo-container h3{
    text-transform: uppercase;
    color: var(--gray-dark);
    font-size: 1.5rem;
}

.header .navigation-bar .navbar-list{
    list-style: none;
    display: flex;
}
.header .navigation-bar .navbar-list .navbar-item{
    margin-right: 1rem;
}
.header .navigation-bar .navbar-list .navbar-link{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color:#0d1013;
    font-size: 1.4rem;
    font-weight: light;
    padding: 0.5rem;
    transition: all 0.23s ease-in-out;
}

.header .navigation-bar .navbar-list .navbar-link:hover{
    color:var(--red);
}

.header .navigation-bar .navbar-right-side-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header .navigation-bar .hire-me-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:#ff014f;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out;
}
.header .navigation-bar .hire-me-btn:hover{
   transform: translateY(-6px);
   background-color: #bf3a30;
background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
   color: var(--light);
}

.header .navigation-bar .navbar-right-side-container .menu{
  
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background:#fff;
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    text-align: center;
    transition: all 0.6s ease-in-out;
    display: none;
}
.header .navigation-bar .navbar-right-side-container .menu:hover{
transform: scale(1.1);
}
.header .navigation-bar .navbar-right-side-container .menu i{
    font-size: 2rem;
    margin-top: 1.3rem;
    color: #ff014f;
}
.header .navbar-list .responsive-top-box{
    display: none;
}
.header .navbar-list .social-icons{
    display: none;
}
/* ---//////---- Header Styling End ---//////---- */


/* ---//////---- Hero Styling Start ---//////---- */
.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    padding-bottom: 4rem;
}
.hero .right-side-container{
    border: 12px solid var(--light);
    background:var(--light);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    border-radius: 8px;
    padding: 5px 10px;
}

.hero .right-side-container img{
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}
.hero .right-side-container img:hover{
    transform: scale(1.02);
}
.hero .left-first-container{
    background:var(--light);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
   padding: 3rem 2rem;
   transition: all 0.5s ease-in-out;
}
.hero .left-first-container .hero-section-icon{
    width: 6.5rem;
    border-radius: 50%;
    height: 6.5rem;
    border: 8px solid rgb(233, 127, 127);
    background: #ff014f;
    text-align: center;
    margin-bottom: 2rem;
}
.hero .left-first-container .hero-section-icon i{
    font-size: 2rem;
color: #fff;
margin-top: 1.2rem;
}
.hero .left-first-container .hero-section-descr h1{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.hero .left-first-container .hero-section-descr h1 span{
    color: #ff014f;
}

.hero .left-first-container .hero-section-descr p{
    font-size: 1.8rem;
    font-weight: light;
    color: var(--dark);
    margin-bottom: 2rem;
}
.hero .left-first-container:hover{
    transform: translateY(-10px);
}

.hero .left-second-container{
    background:var(--light);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
   padding: 4rem 2rem;
   transition: all 0.5s ease-in-out;
}
.hero .hero-section-btns a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:#ff014f;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out;
}
.hero .hero-section-btns a:hover{
   transform: translateY(-6px);
   background-color: #bf3a30;
background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
   color: var(--light);
}
.hero .left-second-container:hover{
    transform: translateY(-10px);
}
/* ---//////---- Hero Styling End ---//////---- */





/* ---//////---- Experience Styling Start ---//////---- */
.experience{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    padding: 10rem 0 4rem 0;
}
.experience .section-title-container p{
    color: #ff014f;
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0;
    text-align: center !important;
}
.experience .section-title-container h1{
    color: var(--dark);
    font-size: 6rem;
    font-weight: bold;
}

.experience .experience-cards-container .experience-card{
    background:var(--light);
   box-shadow: 5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
   border-radius: 9px;
   transition: all 1s ease-in-out;
}


.experience .experience-cards-container .experience-card:hover{
    transform: translateY(-5px);
}
.experience .experience-cards-container .experience-card .text-container .duration{
    background:#ff014f;
    margin-bottom: 1.5rem;
}
.experience .experience-cards-container .contact-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:#ff014f;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out;
}
.experience .experience-cards-container .contact-btn:hover{
    transform: translateY(-6px);
    background-color: #bf3a30;
 background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    color: var(--light);
}
/* ---//////---- Experience Styling End ---//////---- */


/* ---//////---- Education Styling Start ---//////---- */
.education{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    padding: 10rem 0 4rem 0;
}
.education .section-title-container p{
    color: #ff014f;
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0;
    text-align: center !important;
}
.education .section-title-container h1{
    color: var(--dark);
    font-size: 6rem;
    font-weight: bold;
}

.education .education-cards-container .education-card{
    background:var(--light);
   box-shadow: 5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
   border-radius: 9px;
   transition: all 1s ease-in-out;
   /* transform: translateX(120%); */
}
.education .education-cards-container .education-card:nth-of-type(even){
    /* transform: translateX(-120%); */
}
.education .education-cards-container .education-card.show{
    /* transform: translate(0); */
}
.education .education-cards-container .education-card:hover{
    transform: translateY(-5px);
}
.education .education-cards-container .education-card .text-container .duration{
    background:#ff014f;
    margin-bottom: 1.5rem;
}
.education .education-cards-container .contact-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:#ff014f;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out;
}
.education .education-cards-container .contact-btn:hover{
    transform: translateY(-6px);
    background-color: #bf3a30;
 background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    color: var(--light);
}
/* ---//////---- Education Styling End ---//////---- */

/* ---////////------ Resume Styling Start-------////////----- */
.resume{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    padding: 10rem 0 4rem 0;
}
.resume .section-title-container p{
    color: #ff014f;
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0.6rem;
    text-align: center !important;
}
.resume .section-title-container h1{
    color: var(--dark);
    font-size: 6rem;
    font-weight: bold;
}
.resume .tabs-box .tab.active{
    color:#ff014f !important;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    opacity: 1;
    z-index: 999;
    transition: all 0.23s ease-in-out;
}
.resume .content-container .content{
    display: none;
}
.resume .content-container .content.active{
    display: block;
}
/* ---////////------ Resume Styling End-------////////----- */


/* ---////////------ Portfolio Styling Start-------////////----- */
.portfolio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    padding: 10rem 0 4rem 0;
}
.portfolio .section-title-container p{
    color: #ff014f;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 0.6rem;
    text-align: center !important;
}
.portfolio .section-title-container h1{
    color: var(--dark);
    font-size: 6rem;
    font-weight: bold;
}
.portfolio .portfolio-tabs-box .portfolio-tab.active{
    color:#ff014f !important;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    opacity: 1;
    z-index: 999;
    transition: all 0.23s ease-in-out;
    animation: moving 0.5s ease;
}
.portfolio .project-cards-container{
    display: none;
    animation: moving 0.5s ease;
}
.portfolio .project-cards-container.active{
    display: block;
    display: flex;
}
.project-img-box{
    width: 100%;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    background-position: top;
    transition: all 2s ease-in-out;
}
.project-img-box:hover{
    background-position: bottom;
}
.project-img1{
    background:url(/Images/Projects-SS/one.png);
    background-size: cover;
}
.project-img2{
    background:url(/Images/Projects-SS/two.png);
    background-size: cover;
}
.project-img3{
    background:url(/Images/Projects-SS/three.png);
    background-size: cover;
}
.portfolio .project-btns .project-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:#ff014f;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    margin-right: 1rem;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out;
}
.portfolio .project-btns .project-btn:hover{
    transform: translateY(-6px);
    background-color: #bf3a30;
 background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    color: var(--light);
}

@keyframes moving {
    from{
        transform: translateX(80px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

/* ---////////------ Portfolio Styling End-------////////----- */


/* ---////////------ Certificate Styling Start -------///////////----- */
.certificate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    padding: 10rem 0 4rem 0;
}
.certificate .section-title-container p{
    color: #ff014f;
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0.6rem;
    text-align: center !important;
}
.certificate .section-title-container h1{
    color: var(--dark);
    font-size: 6rem;
    font-weight: bold;
}
.certificate .carousel{
    margin-top: 7rem !important;
}
.certificate .carousel .single-item{
    background:var(--light) !important;
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff !important;
}
.certificate .carousel .view-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:#ff014f;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out;
}
.certificate .carousel .view-btn:hover{
    transform: translateY(-6px);
    background-color: #bf3a30;
 background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    color: var(--light);
}
.certificate .carousel .switch-icon{
    width: 4rem;
    height: 4rem;
    padding: 2rem;
    border-radius: 50%;
}
.certificate .carousel .course-desc{
    text-align: justify;
}
/* ---////////------ Certificate Styling End -------///////////----- */






/* ////////--------- Contact Us Styling Start ----------/////////--- */
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    padding: 10rem 0 4rem 0;
}
.contact .section-title-container p{
    color: #ff014f;
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0.6rem;
    text-align: center !important;
}
.contact .section-title-container h1{
    color: var(--dark);
    font-size: 6rem;
    font-weight: bold;
}
.contact .contact-left-side-container{
    background: linear-gradient(145deg, #e2e8ec, #ffffff); 
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    padding: 2rem;
    border-radius: 6px;
            
            }
    .contact .contact-left-side-container img{
        border-radius: 6px;
        width: 100%;
    }
    .contact .contact-left-side-container .contact-content .name{
        font-size: 3.5rem;
        color: var(--gray-dark);
        margin-bottom: 1rem;
    }
    .contact .contact-left-side-container .contact-content .job-desc{
        font-size: 1.5rem;
        font-weight: lighter;
        color: var(--gray);
        margin-bottom: 1rem;
    }
    .contact .contact-left-side-container .contact-content .self-description{
        font-size: 1.55rem;
        text-align: justify;
        color: var(--secondary);
        margin-bottom: 1rem;
        /* font-weight: lighter; */
    }
    .contact .contact-left-side-container .contact-content .contact-social-links a{
        display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--dark);
    font-size: 13px;
    margin-right: 2rem;
    font-weight: bold;
    padding: 14px 25px;
    line-height: 21px;
    border-radius: 6px;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out;
    }
    .contact .contact-left-side-container .contact-content a:hover{
        transform: translateY(-6px);
        background-color: #bf3a30;
     background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
        color: var(--light);
    }
    

    .contact .contact-right-side-container{
        background: linear-gradient(145deg, #e2e8ec, #ffffff); 
        box-shadow:5px 5px 15px #D1D9E6, 
                   -5px -5px 15px #ffffff;
        padding: 4rem 2rem;
        border-radius: 6px;
                
                }
    .contact .contact-right-side-container input,textarea{
        border: none;
        outline: none;
        padding: 1.5rem!important;
        /* box-shadow: 0px 0px 1px grey; */
    }
    .contact .contact-right-side-container input::placeholder{
        font-size: 1.6rem;
        color: grey;
        font-weight: lighter;
    }
    .contact .contact-right-side-container button{
        background:var(--wc-subtext);
        padding: 1.5rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        background: linear-gradient(145deg, #e2e8ec, #ffffff) !important;  
        transition: all 0.6s ease-in-out;
    }
    .contact .contact-right-side-container button:hover{
        transform: translateY(-6px);
        background-color: #bf3a30;
     background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%) !important;
        color: var(--light) !important;
    }
/* ////////--------- Contact Us Styling End ----------/////////--- */


/* ///////0---------- Footer Styling Start ----------//////////---- */
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    padding: 10rem 0 4rem 0;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
}
.footer .social-links a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--dark);
    margin-right: 2rem;
    font-weight: bold;
    padding: 1.1rem 0;
    width: 4.5rem;
    height:4.5rem;
    line-height: 21px;
    border-radius: 50%;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:5px 5px 15px #D1D9E6, 
               -5px -5px 15px #ffffff;
    transition: all 0.6s ease-in-out;
    }
    .footer .social-links a:hover{
        transform: translateY(-6px);
        background-color: #bf3a30;
     background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
        color: var(--light);
    }
    .footer .social-links a i{
        font-size: 2.5rem !important;
    }


/* ///////0---------- Footer Styling End ----------//////////---- */